
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: aqua;
    margin: 10px;
    float: left;
    text-align: center;
}

.box h3{
    text-align: center;
    margin-top: 30px;
}