
    <div class="d-flex align-items-center justify-content-center  ht-md-100v" style="margin-top: -30px;">

        
        <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white">
           
          <div class="signin-logo tx-center tx-24 tx-bold tx-inverse">Profile 
             <span class="tx-info tx-normal">Application</span></div>
       
  
          <div class="form-group">
            <input type="email" class="form-control" autofocus [(ngModel)]="user.email"
             placeholder="Enter your Email">
          </div><!-- form-group -->

          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="user.Name"
             placeholder="Enter your fullname">
         
          </div><!-- form-group -->

          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="user.password"
             placeholder="Enter your password">
          </div><!-- form-group -->
         

          <button type="button" class="btn btn-info btn-block" (click)="register()">Register New User</button>
  
          <div class="mg-t-40 tx-center">Already have an account? 
            <a href="/login" class="tx-info">Sign In</a></div>
        </div><!-- login-wrapper -->
      </div><!-- d-flex -->
  